{% extends "_layout.html" %}

{% block title %}
  Homepage
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
 <div class="container">
  <h1>Homepage</h1>
  <div class="container">
    {% for image in images %} 
    {% if current_user != image.user %}
    <div class="card card-style">
      <div class="card-header rowdown" >
        <div>
          <a href="{{url_for('users.show', username = image.user.name)}}">
            <img src="{{image.user.profile_image_url()}}" alt=""  class = 'rounded-circle user_image'>
          </a>
        </div>
        <div class="align_center">
          <p class="user_name">{{image.user.name}}</p>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <img class='content_image' src ='{{image.get_url()}}'></a>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
      {% if current_user.is_authenticated %}
        <div class="card-body my_card">
          <a href=''>
            <i class="fa fa-heart small"></i>
          </a>
          <a href="">
            <i class="fa fa-comment small"></i>
          </a>
          <a href="{{url_for('donations.new', img_id = image.id)}}">
            <i class="fa fa-money small" ></i>
          </a>
        </div>
      {% endif %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
 </div>

<style>
  
</style>
{% endblock %}