{% extends "_layout.html" %}

{% block content %}
<div class="container">
    {% if message == True %}
    <div class="alert alert-success">
        <strong>Success!</strong> User succsessfully sign up.
    </div>
    {% elif message == False %}
    <div class="alert alert-danger">
        <strong>Fail! </strong>
        {% for error in errors if errors|length > 0 %}
        <li>{{error}}</li>
        {% endfor %}
    </div>
    {% endif %}
    <h1>User Sign Up</h1>
    <form method="POST" action="{{url_for('users.create')}}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input name='email' type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input name='username' type="text" class="form-control" aria-describedby="emailHelp"
                placeholder="Enter Username">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                name='password'>
        </div>
        <button id='submitbtn' type="submit" class="btn btn-primary">Submit</button>

</div>
</form>
</div>

<script>
    $(document).ready(() => {
        $('#exampleInputPassword1').keyup(() => {
            let str = $('#exampleInputPassword1').val()
            let capital = new RegExp('[A-Z]')
            let lower = new RegExp('[a-z]')
            let special = new RegExp('/[A-Za-z0-9 _.-]+$/')
            let mediumRegex = new RegExp("^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{6,})");
            $('#exampleInputPassword1').css('background-color', 'none')
            if (str.length < 6 || !capital.test(str) || !lower.test(str)) {
                $('#exampleInputPassword1').css('background-color', 'red')
                $('#submitbtn').attr('disabled', true)
                console.log('error')
            } else {
                $('#exampleInputPassword1').css('background-color', 'white')
                console.log('no prob')
                $('#submitbtn').attr('disabled', false)
            }
        })
    })

</script>


{% endblock %}