body {
  margin: 0;
  padding-bottom: 15px;
  position: relative;
  min-height: 100vh;
  background: linear-gradient(45deg, #6c84f8, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

footer {
  font-size: 11px;
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  text-align: center;
  color: #303030;
}

footer a {
  text-decoration: none;
  color: #303030;
}

.container {
  margin-top: 40px;
  margin-bottom: 40px;
}

.masonry { 
  column-count: 4;
  column-gap: 1em;
}

.item { 
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

.card-style {
  margin: 30px 15vw;
}

#nextagram{
  animation-name: rotation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#nextagram:hover{
  animation-name: rotation;
  animation-duration: 2s;
}

@keyframes large {
 0% {transform: scale(1,1);}
 100% {transform: scale(1.15,1.15);}
}

.amazing {
  margin-top: 30px;
  animation-name: large;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes rotation {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.row {
 display: flex;
 justify-content: center;
}

.align_center {
  display: flex;
  align-items: center;
}

.rowdown {
 display: flex;
 flex-flow: row;
}

#thumbnail{
  width: 150px;
  height: 150px;
}

.user_image {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.user_name {
  margin: auto 10px;
}

.content_image{
  object-fit: cover;
  max-width:100%;
  max-height:100%;
}

.small{
  font-size: 36px;
  padding: 1px;
}

.profile_picture{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.mycard {
  width: 18rem;
  margin: 20vh auto;
  box-sizing: border-box;
}

.margin_center {
  display: flex; 
  align-items: center; justify-content: 
  center;
  margin: 10px auto ;
}

.bottom_center {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.post_images {
  height: 300px;
  width: 300px;
  margin: 20px;
}

.post_images:hover {
  transform: scale(1.05,1.05);
  transition: 0.5s;
}

.logo {
  height: 40px;
  width: 40px;
}

.homepage {
  display: flex;  
  align-items: center;
  justify-content: center;
}

.page {
  height: 90vh;
}

.column {
  flex-direction: column;
}

.icon {
  height: 40px; 
  width: 40px; 
  margin: 0 7px;
  object-fit: cover
}

.insta {
  font-size: 20em;
}

.navy {
  padding:0 14px;
  padding-bottom: 3px;
}

.my_card {
  padding-top: 0px;
}

a {
  height: auto;
  width: auto;
}

.follow{
  display: flex;
  align-items: center;
  padding: 10px;
  border: cornflowerblue 2px solid;
  border-radius: 10px;
  margin: 20px 20%;
}

.username{
  text-align: center;
  margin: 0;
}

.request {
  display: flex;
  align-items: center;
  padding: 10px;
  border: darkorange 2px solid;
  border-radius: 10px;
  margin: 20px 20%;
  justify-content: space-between;
}

.together {
  display: flex;
  align-items: center;
  margin: 0 30px;
}

